

@media screen and (width<=320px) {
    .card-container{
        justify-content:center; 
    }
    
    .container {
        /* max-width: 1180px;  */
        margin-inline:20px;
        overflow: hidden;
    }
    nav {
        display: flex;
        justify-content: center;
    }
    .main-nav{
        justify-content: space-between;
    }
    
    .logo img {
        /* width:50px;
        height:10%;
        padding: 8px 0px; */
        display:none;
     }
    
    
     .menue-bar {
        width:80px;
        display:flex;
        justify-content:flex-end;
        cursor: pointer;
    }
    .nav-link {
        position:absolute;
        background-color: rgb(233, 210, 171);  
        right:-100%;
        top :100%;
        width:100%;
        padding-block: 20px;
        transition:right 0.5s ease;
    }
    
    .nav-link.active {
    right:0;
    }
    
    .nav-link ul {
        flex-direction: column;
        row-gap: 30px;
    }
    .search-bar {
        height:23px;
    }
    .news-input {
        width:120px;
        height:15px;
    }
    .search-button {
        height:100%;
        width:50px;
        font-size:cover;
    }
    
    }



@media screen and (max-width:600px) {
.card-container{
    justify-content:center; 
}

.container {
    /* max-width: 1180px;  */
    margin-inline:20px;
    overflow: hidden;
}

.logo img {
    width:100px;
    height:10%;
    padding: 8px 0px;
 }


 .menue-bar {
    width:80px;
    display:flex;
    justify-content: center;
    cursor: pointer;
}
.nav-link {
    position:absolute;
    background-color: rgb(233, 210, 171);  
    right:-100%;
    top :100%;
    width:100%;
    padding-block: 20px;
    transition:right 0.5s ease;
}

.nav-link.active {
right:0;
}

.nav-link ul {
    flex-direction: column;
    row-gap: 30px;
}




}